<div>
{{#if isEditing }}
  {{#if isTextArea }}
    {{textarea value=field}}
  {{else if isSelect }}
    <select id='{{field}}' onchange={{action "selectChanged" value="target.value"}}>
      {{#each contentValues as |item| }}
        <option value={{item.value}} selected={{eq fieldValue item.value}}>{{item.label}}</option>
      {{/each}}
    </select>
  {{else if isPolySelect }}
    {{polymorphic-select model=model typeContent=content field=field fieldname=fieldname}}
  {{else if isCheckbox }}
    {{input type=type checked=field}} {{field}}
  {{else}}
    {{input type=type value=field}}
  {{/if}}
{{else if hasAltLabel}}
  {{alt-label}} --Edit
{{else if hasBlock}}
  {{yield}} --Edit
{{else}}
  {{field}} --Edit
{{/if}}
</div>