{{#if userCanEdit}}
  {{#if isEditing }}
    <div class="editable-field col-sm-{{if newRecord '12' '9'}}">
    {{#if isTextArea }}
      {{textarea class="form-control" value=field}}
    {{else if isSelect }}
      <select id='{{field}}' class="form-control" onchange={{action "selectChanged" value="target.value"}}>
        {{#each contentValues as |item| }}
          <option value={{item.value}} selected={{eq fieldValue item.value}}>{{item.label}}</option>
        {{/each}}
      </select>
    {{else if isPolySelect }}
      {{polymorphic-select model=model typeContent=content field=field fieldname=fieldname}}
    {{else if isPowerSelect }}
      {{#power-select
        tagName='span' 
        search=(action 'searchAction')
        selected=field
        onchange=(action 'onchangeAction')
        as |type|
      }}
        {{#if (eq className "user")}}
          {{id-card user=type}}
        {{else}}  
          {{type.name}}
        {{/if}}
      {{/power-select}}
    {{else if isPowerSelectMultiple }}
      {{#power-select-multiple
        search=(action 'searchAction')
        selected=field
        searchField=searchField
        onchange=(action 'onchangeAction')
        as |type|
      }}
        {{#if (eq className "user")}}
          {{id-card user=type}}
        {{else}}  
          {{type.name}}
        {{/if}}
      {{/power-select-multiple}}
    {{else if isCheckbox }}
      {{input class="form-control" type=type checked=field}}
    {{else}}
      {{input class="form-control" type=type value=field}}
    {{/if}}
    </div>
      {{#if (not newRecord)}}
    <div class="col-sm-3">
        <a href="#/" class='btn-action btn-save' {{action "save"}}>
          <span class="fa-stack">
            <i class="fa fa-floppy-o fa-stack-1x"></i>
          </span>
        </a>
        <a href="#/" class='btn-action btn-cancel' {{action "cancel"}}>
          <span class="fa-stack">
            <i class="fa fa-ban fa-stack-1x"></i>
          </span>
        </a>
    </div>
    {{/if}}
  {{else}}
  <div class="editable-field">
    {{#if hasAltLabel}}
      {{alt-label}} ALT LABEL NEEDED????
    {{else if hasBlock}}
      {{yield}}
    {{else}}
      {{field}} 
    {{/if}}
    <a href="#/" class='pull-right btn-action btn-edit' {{action "editClick"}}><span class="fa-stack"><i class="fa fa-pencil-square-o fa-stack-1x"></i></span></a>
  </div>

  {{/if}}
{{else}}
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{field}}
  {{/if}}
{{/if}}