<div>
{{#if isEditing }}
  {{#if isTextArea }}
    {{textarea value=field}}
  {{else if isSelect }}
    {{#x-select value=field }}
      {{#each content as |item| }}
        {{#x-option value=item.value}}{{item.label}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  {{else if isCheckbox }}
    {{input type=type checked=field}} {{field}}
  {{else}}
    {{input type=type value=field}}
  {{/if}}
{{else if hasAltLabel}}
  {{alt-label}} --Edit
{{else if hasBlock}}
  {{yield}} --Edit
{{else}}
  {{field}} --Edit
{{/if}}
</div>