{{#if user}}
<div class="idcard {{if (eq float "left") 'pull-left' ''}}">
  <div class='well'>
    <div class='picture'>
      <span class="verthelper"></span><img class='circular-avatar-small' src='{{user.picture}}'/>
    </div>
    <div class='details'>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.username}}</p>
    </div>
  </div>
</div>
{{/if}}