<div class="idcard">
  <div class='col-sm-12 well'>
    <div class='col-sm-4'>
      <img src='{{assetHost}}{{user.picture}}'/>
    </div>
    <div class='col-sm-8'>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.username}}</p>
    </div>
  </div>
</div>