{{#if user}}
<div class="idcard">
  <div class='well'>
    <div class='picture'>
      <span class="verthelper"></span><img class='circular-avatar-small' src='{{assetHost}}{{pictureURL}}'/>
    </div>
    <div class='details'>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.username}}</p>
    </div>
  </div>
</div>
{{/if}}