


<div id="content-mid" class="col-md-10">

  <div class="col-sm-12"><h3>{{model.name}}</h3></div>
  <div class="col-sm-12 vehicle_img"><div class="image-frame"></div></div>
  {{#if model.gps}}
  <div class="col-sm-12" >
    <div class="map-preview" >
      {{#g-map lat=model.gps_lat lng=model.gps_lon zoom=16 as |context|}}
          {{g-map-marker context lat=model.gps_lat lng=model.gps_lon icon=model.map_icon.icon}}
      {{/g-map}}

      {{!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center={{model.gps_lat}},{{model.gps_lon}}&zoom=16&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xfdd02d%7C{{model.gps_lat}},{{model.gps_lon}}" alt="{{model.name}}"> --}}
    </div>
  </div>
  {{/if}}
 {{#bs-accordion selected="1" class="col-sm-12"}}
     {{#bs-accordion-item value="1" title="Details"}}
      <dl class="dl-horizontal">
        <dt>Name:</dt> <dd>{{editable-field model=model field=model.name}}</dd>
        <dt>Status:</dt> <dd>{{model.status}}</dd>
        <dt>Type:</dt> <dd>{{#editable-field model=model field=model.vehicle_type type="select" content=model.v_type_options optionValuePath="content.value" optionLabelPath="content.label"}}{{model.v_type_name}}{{/editable-field}}</dd>
        <dt>Active:</dt> <dd>{{#editable-field model=model field=model.active type="checkbox"}}{{boolean-status-red-green field=model.active}}{{/editable-field}}</dd>
        <dt>Description:</dt> <dd>{{editable-field model=model field=model.description}}</dd>
        <dt>VIN:</dt> <dd>{{editable-field model=model field=model.vin}}</dd>
        <dt>License:</dt> <dd>{{editable-field model=model field=model.license}}</dd>
        <dt>Mast Height:</dt> <dd>{{editable-field model=model field=model.mast_height}}</dd>
        <dt>Engine service in</dt><dd>{{editable-field model=model field=model.engine_hrs_due}}</dd>
        <dt>Last Service at </dt><dd> </dd>
        <dt>fun:</dt>{{fun}} <dd></dd>
        <dt>Icon:</dt><dd>
          {{#editable-field type='power-select' model=model options=map_icons peekOnly=true field=model.map_icon fieldname='map_icon' className='map_icon' searchField='url'}} 
            {{map-icon-card map_icon=model.map_icon}}
          {{/editable-field}}
        </dd>
      </dl>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="2" title="Gps"}}
      <dl class="dl-horizontal">
        <dt>Enabled:</dt> <dd>{{#editable-field type="checkbox" model=model field=model.gps}}{{boolean-status-red-green field=model.gps}}{{/editable-field}}</dd>
        <dt>Type:</dt> <dd>{{#editable-field model=model field=model.gps_type type="select" content=model.gps_type_options optionValuePath="content.value" optionLabelPath="content.label"}}{{model.gps_type_name}}{{/editable-field}}</dd>
        {{#if (eq model.gps_type 0)}}
          <dt>IP:</dt> <dd>{{editable-field model=model field=model.address}}</dd>
        {{else if (eq model.gps_type 1)}}
          <dt>Mojio ID:</dt> <dd>{{editable-field model=model field=model.mojio_id}}</dd>
        {{/if}}
        <dt>Latitude:</dt> <dd>{{editable-field model=model field=model.gps_lat}}</dd>
        <dt>Longitude:</dt> <dd>{{editable-field model=model field=model.gps_lon}}</dd>
        <dt>Updated:</dt> <dd>{{model.gps_updated_at}}</dd>
      </dl>

     {{/bs-accordion-item}}
     {{#bs-accordion-item value="3" title="Charts"}}
       <p>Lorem ipsum...</p>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="4" title="LiveShots"}}
     <ul>
      {{#each model.live_shots key="id" as |live-shot|}}
        <li>{{#link-to "live-shots.live-shot" live-shot.id}} {{live-shot.title}} {{/link-to}}</li>
      {{/each}}
    </ul>
     {{/bs-accordion-item}}
 {{/bs-accordion}}

</div>
<div class="col-md-4">
</div>