<div class='col-sm-12 '>
  <h1>{{editable-field model=model field=model.title}}</h1>
  <hr/>
</div>

<div class='col-sm-5'>
  <div class='col-sm-12'><h2>Reporter: </h2>{{#editable-field type='power-select' model=model field=model.reporter fieldname='reporter' className='user' searchField='name'}} 
    {{#link-to "user" model.reporter.id}}{{id-card  tagName='span' user=model.reporter}}{{/link-to}}
    {{/editable-field}}</div>
  <div class='col-sm-12'><h2>Photogs</h2>
    {{#editable-field type='power-select-multiple' model=model field=model.photogs fieldname='photogs' className='user' searchField='name'}} 
      <ul class="list-unstyled">
        {{#each model.photogs key="id" as |photog|}}
          <li class="">{{#link-to "user" photog.id}}{{id-card user=photog}}{{/link-to}}</li>
        {{/each}}
      </ul>
    {{/editable-field}}</div>
</div>
<div class='col-sm-7'>
  <table class='table'>
    <tbody>
    <tr><th>Status:</th><td>{{#editable-field model=model field=model.status type="select" content=model.status_options}}{{model.status_name}}{{/editable-field}}</td></tr>
    <tr>
      <th class='th-20'>Transmitter:</th>
      <td class='td-80'>
        {{#editable-field type="poly-select" model=model field=model.transmitter fieldname="transmitter" content=transmitterTypes}}
          {{#link-to (concat (pluralize model.transmitter.transmitterType) "." model.transmitter.transmitterType ) model.transmitter.id}}
            {{model.transmitter.name}}
          {{/link-to}}
        {{/editable-field}}
      </td>
    </tr>
    <tr>
      <th>Receiver:</th>
      <td>
        {{#editable-field type="select" model=model field=model.receiver relationship="receiver" content=receivers optionValuePath="content.id" optionLabelPath="content.name"}}
          {{#link-to "receiver" model.receiver.id}}
            {{model.receiver.name}}
          {{/link-to}}
        {{/editable-field}}
      </td>
    </tr>
    <tr><th>Router:</th><td></td></tr>
    <tr><th>Channel:</th><td></td></tr>
    <tr><th>Issues:</th><td>{{editable-field type="textarea" model=model field=model.issues}}</td></tr>
    <tr><th>Location:</th><td>{{editable-field model=model field=model.location}}</td></tr>
    <tr><th>Instruction:</th><td>{{editable-field type="textarea" model=model field=model.instruction}}</td></tr>
    <tr><th>Shows:</th><td>
      {{#editable-field type='power-select-multiple' model=model field=model.shows fieldname='shows' className='show' searchField='name'}} 
        <ul class="list-unstyled">
          {{#each model.shows key="id" as |show|}}
            <li>{{#link-to "show" show.id}} {{show.name}} {{/link-to}}</li>
          {{/each}}
        </ul>
      {{/editable-field}}
    </td></tr>
    <tr><th></th><td></td></tr>
    </tbody>
  </table>
</div>
<div class='col-sm-6 '>Icon: {{editable-field model=model field=model.title}}</div>
<div class='col-sm-6 '>
  <p>Modified By: {{#link-to "user" model.modified_by.id}} {{model.modified_by.name}} {{/link-to}}</p>
  <p>Created By: {{#link-to "user" model.created_by.id}} {{model.created_by.name}} {{/link-to}}</p>
</div>