Title: {{editable-field model=model field=model.title}}<br/>
Transmitter: {{#editable-field type="poly-select" model=model field=model.transmitter fieldname="transmitter" content=transmitterTypes}}{{model.transmitter.name}}{{/editable-field}}<br/>
{{!-- Transmitter: {{polymorphic-select model=model fieldname="transmitter" typeContent=transmitterTypes field=model.transmitter}}<br/> --}}
Receiver:{{#editable-field type="select" model=model field=model.receiver relationship="receiver" content=receivers optionValuePath="content.id" optionLabelPath="content.name"}}{{#link-to "receiver" model.receiver.id}} {{model.receiver.name}} {{/link-to}}{{/editable-field}}
Shows:<ul>
  {{#each model.shows key="id" as |show|}}
    <li>{{#link-to "show" show.id}} {{show.name}} {{/link-to}}</li>
  {{/each}}
</ul>