

<div id="content-mid" class="col-md-8">
<div class="vehicle_img"><div class="image-frame"></div></div>
 {{#bs-accordion selected="1"}}
     {{#bs-accordion-item value="1" title="Details"}}
      <dl class="dl-horizontal">
        <dt>Name:</dt> <dd>{{editable-field model=model field=model.name}}</dd>
        <dt>Status:</dt> <dd class="editable">{{model.status}}</dd>
        <dt>Active:</dt> <dd>{{model.active}}</dd>
        <dt>Description:</dt> <dd>{{model.description}}</dd>
        <dt>GPS:</dt> <dd>{{model.gps_lat}}, {{model.gps_lon}} @ {{model.gps_updated_at}}</dd>
        <dt>VIN:</dt> <dd>{{model.vin}}</dd>
        <dt>License:</dt> <dd>{{model.license}}</dd>
        <dt>Mast Height:</dt> <dd>{{model.mast_height}}</dd>
        <dt>Engine service in</dt><dd>{{model.engine_hrs_due}}</dd>
        <dt>Last Service at </dt><dd> </dd>
        <dt>Avg Mi/Day (30 days):</dt> <dd></dd>
        <dt>Avg Mi/Month (1 year):</dt> <dd></dd>
      </dl>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="2" title="Logs"}}
       <p>Lorem ipsum...</p>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="3" title="Charts"}}
       <p>Lorem ipsum...</p>
     {{/bs-accordion-item}}
     {{#bs-accordion-item value="4" title="LiveShots"}}
       <p>Lorem ipsum...</p>
     {{/bs-accordion-item}}
 {{/bs-accordion}}
 <p>Selected accordion item: {{selected}}</p>

</div>